* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%
}


.signup-form {
  margin: 3em auto;
  /* background-color: red; */
  text-align: center;
  /* display: inline-block; */
  padding: 10em;
}

.navigation-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #DDE2E3;
}

.navigation-bar ul {
  text-align: right;
}

.navigation-bar ul li {
  display: inline-block;
  /* clear: left; */
  padding: 1em;
  background-color: #DDE2E3;
}

.navigation-bar ul li a {
  text-decoration: none;
}

.navigation-bar ul li a:hover {
  color: #0000FF;
}

.main-content {
  color: white;
  padding: 3em;
  position: static;
  left: 0;
  height: 800px;
  background-image: linear-gradient(to right bottom, #051937, #004a65, #1b7e82, #71b292, #cfe1a5);
}

form input {
  margin: 0.8em;
}

.sidebar {
  width: 25%;
  padding: 2em;
}

.sidebar ul {
  list-style-type: none;
}


.sidebar ul  li  a {
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  color: #000;
}

.sidebar ul li a:hover {
  background-color: #555;
  color: white;
}


.content {
  width: 70%;
  margin: auto;
  padding: 2em;
  margin-left: 2em;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix {
  color: white;
  text-decoration: none;
}
