{{ define "content" }}
  <form class="signup-form" role="form" action="/authenticate" method="post">
    <h2 class="form-signin-heading">
      <i class="fa fa-comments-o">
        Task Manager
      </i>
    </h2>
    <div class="">
      <label for="">Email</label>
      <input type="email" name="email" required autofocus>
    </div>
    <div class="">
      <label for="">Password</label>
      <input type="password" name="password" required>
    </div>
    <br/>
    <button type="submit">Sign in</button>
    <br/>
    <a href="/signup">Sign up</a>
  </form>

{{ end }}
