{{ define "layout" }}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TaskManager</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navigation-bar">
      {{ template "navbar" . }}
    </nav>
    <div class="">
      {{ template "content" . }}
    </div>
    <!-- <script src="/static/js/jquery-2.1.1.min.js"></script> -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

{{ end }}
